html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0 5%;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ece9e6, #ffffff);
  background: linear-gradient(to bottom, #ece9e6, #ffffff);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  max-width: 2em;
  max-height: 2em;
  padding-right: 1rem;
  padding-bottom: 1.2rem;
  color: gold !important;
}

#head-title {
  color: black;
  cursor: default;
  border-bottom: 5px dotted black;
  text-align: center;
  margin-bottom: 2rem;
}

.cap {
  font-size: 1.5em;
  color: #01589d;
  font-weight: bold;
}

.full-content {
  margin-bottom: 2rem;
}

.navs {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
