/* LINK ANIMATIONS IN NAVBAR
 * https://codepen.io/martinwolf/pen/eNNdme
 * --------------------------------------------------------
*/

/* All Nav Links */
.sections {
  text-align: center;
  margin-bottom: 50%;
}

.nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: white;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  /* transition: width .3s; */
}
